<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034598304627-c9alr5omc7a6vet55pvv33pgh7rln0a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034598304627-c9alr5omc7a6vet55pvv33pgh7rln0a3</string>
	<key>API_KEY</key>
	<string>AIzaSyBMBLrD3BfcTHBtUdOMV-3Ybyqdd9gQwgA</string>
	<key>GCM_SENDER_ID</key>
	<string>1034598304627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logi</string>
	<key>PROJECT_ID</key>
	<string>exam-fb81b</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-fb81b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034598304627:ios:da053cc60831b915065306</string>
</dict>
</plist>